<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>대공구</title>


  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/shop-homepage.css" rel="stylesheet">
  <style>
    body {
      background-image: url('/img/Gray-Background.png');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
    }

    .nav-item .nav-link {
      background-color: transparent;
      border: 0px transparent solid;
    }

    .main-feature {
      background-color: white;
    }

    .title {
      color: white;
      background-color: #555555;
      font-weight: bold;
    }

    .bulletin {
      margin-top: 30px;
      width: 100%;
    }

    .row {
      margin-top: 30px;
    }

    .search {
      border: 1px solid gray;
      height: 40px;
      width: 400px;
      padding: 5px;
      margin: 10px;
      background-color: #ffffff;
    }

    .input_text {
      font-size: 16px;
      width: 325px;
      padding-left: 10px;
      border: 0px;
      outline: none;
      float: left;
    }

    .sch_smit {
      width: 50px;
      height: 100%;
      border: 0px;
      background: gray;
      outline: none;
      float: right;
      color: #ffffff;
    }

    .btn1 {
      color: white;
      background-color: gray;
    }

    .my_info {

      margin: 10px;
    }

    .col-lg-9 {
      margin-top: 30px;
    }

    .btn2 {
      color: black;
      text-align: center;
    }

    .btn2:hover {
      text-decoration: none;
      color: black;
    }

    .navbar-brand img {
      border: 5px solid gray;
      width: 100px;
    }

    .list-group{
      margin-top: 30px;
    }
  </style>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script type="text/javascript">
    $(function() {
      $(".btn2").mouseover(function() {
        $(".btn2").css("background-color", "lightgray");
      });
      $(".btn2").mouseout(function() {
        $(".btn2").css("background-color", "white");
      });
    });

    function popupOpen() {
      var popUrl = "../../customer/point_charge"; //팝업창에 출력될 페이지 URL
      var popOption = "width=500, height=360, resizable=no, scrollbars=no, status=no;"; //팝업창 옵션(optoin)
      window.open(popUrl, "", popOption);
    }
  </script>

  <script>
    //refresh point
    $(function() {
      $('#refreshpoint').click(function() {
        $.ajax({
          url: '/customer/consumer_page/refreshpoint',
          type: 'POST',
          data: {},
          dataType: 'json',
          success: function(result) {
            $('#point').html(result['c_point']);
          }
        });
      });
    });
  </script>
</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <div class="navbar-brand"><img src="/img/logofile.png" onclick="location.href='/customer/mainPage/'" alt=""></div>
      <!-- 학교 이름 삽입 -->
      <div class="univ_name" style="color: white"> <%=univname%> </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <!-- 구매자 초기 화면으로 -->
            <form action="/customer/mainPage/" method="get">
              <input class="nav-link" type="submit" value="Home">
            </form>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">My Page
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <!-- 로그아웃 -->
          <li class="nav-item">
            <form action="/customer/logout/logout" method="post">
              <input class="nav-link" type="submit" value="Log out">
            </form>
            <!--<a class="nav-link" href="../loginPageHTML/start.html">Log out</a>-->
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">
    <div class="row main-feature">
      <div class="col-lg-3">
        <div class="list-group">
          <button class="list-group-item btn1">개인 정보</button>
          <a href="javascript:popupOpen();" class="list-group-item btn2">포인트 충전</a>
        </div>
      </div>
      <!-- /.col-lg-3 -->

      <div class="col-lg-9">
        <h4>개인 정보</h4>
        <table class="table my_info">
          <tr>
            <td>이름</td>
            <td><%= c_name %></td>
          </tr>
          <tr>
            <td>학교</td>
            <td><%=univname%></td>
          </tr>
          <tr>
            <td>포인트 <button type="button" id="refreshpoint">새로고침</button> </td>
            <td>
              <div id="point"><%= c_point %></div>
            </td>
          </tr>
        </table>
        <div class="bulletin">
          <h4>구매 현황</h4>
          <table class="table">
            <thead>
              <th>상품명</th>
              <th>남은 기간</th>
              <th>구매한 상품 금액</th>
              <th>구매한 개수</th>
              <th>현재 할인율</th>
            </thead>
            <tbody>
              <% for(var i=0; i<Length; i++){ %>
              <tr>
                <td><%= itemname[i] %></td>
                <td><%= itemdate[i] %></td>
                <td><%= price[i] %> 원</td>
                <td><%= itemcount[i] %> 개</td>
                <td><%= disrate[i] %> %</td>
              </tr>
              <% } %>

            </tbody>
          </table>
        </div>
      </div>
      <!-- /.col-lg-9 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
