<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>

  <meta charset="utf-8">
  <title></title>
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/shop-homepage.css" rel="stylesheet">
  <style>
    .navbar-brand img {
      border: 5px solid gray;
      width: 100px;
    }

    .bulletin {
      margin-top: 50px;
      margin-left: 30px;
    }
  </style>
  <script>

    $(function(){
      $('#modi').click(function(){
        var str="";
        var tdArr = new Array();
        var _button = $(this);
        var tr = _button.parent().parent().parent();
        var td = tr.children();
        var name = td.eq(2).text();
        $.ajax({
          url: '../../seller/product_management/update',
          type: 'POST',
          data:{
            data: name
          },
          dataType: 'json',
          success: function(result){
            alert("성공");
          }
        });
      });
    });
  </script>

  <script type="text/javascript">
    function registerOpen() {
      var popUrl = "../../seller/register_product"; //팝업창에 출력될 페이지 URL
      var popOption = "width=400px, height=600px, resizable=no, scrollbars=no, status=no;"; //팝업창 옵션(optoin)
      var frmData = document.frmData;
      window.open(popUrl, "", popOption);
    }
  
  </script>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <div class="navbar-brand"> <img src="/img/logofile.png" alt=""> </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
              <a href="javascript:history.back()" class="nav-link">Mypage</a>
          </li>
          <!-- 변경된 부분 -->
          <li class="nav-item">
          <form action="/seller/logout/logout" method="post">
            <input class="nav-link" type="submit" value="Log out">
          </form>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="bulletin">
    <h4>판매 현황</h4>
    <table class="table">
      <thead>
        <tr>
          <th>상품 이미지</th>
          <th>대상 대학교</th>
          <th>이름</th>
          <th>시작 가격</th>
          <th>참여 개수</th>
          <th>현재 할인 가격</th>
          <th>최대 할인 가격</th>
          <th>남은 시간</th>
          <th>수정/삭제
          <th>
        </tr>
      </thead>
      <tbody>
        <% for(var i =0; i< length; i++) {%>
          <tr>
            <td><img src="<%=img_src[i]%>" width="150px"></td>
            <td><%=univ[i]%></td>
            <td><%=item_name[i] %></td>
            <td><%=price[i]%>원</td>
            <td><%=sale_flag[i] %>개</td>
            <td><%=cur_sale[i] %>원</td>
            <td><%=max_sale[i] %>원</td>
            <td><%=period[i] %></td>
            <td>
                <button type="submit" name="button" id="modi" class="btn btn-primary">수정</button>
                <button type="button" class="btn btn-primary" name="button">삭제</button>
            </td>
          </tr>
        <%} %>
      </tbody>
    </table>
    <center>
      
      
      <button type="button" class="btn btn-primary" onclick="javascript:registerOpen();">등록</button>
      <button type="button" class="btn btn-primary" onclick="javascript:history.back()">돌아가기</button>
    </center>
  </div>
</body>

</html>
